Repository raycohaex/kwetter-microservice: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-kweet-workflow, run-common-workflow, run-usertimeline-workflow, run-keycloak-workflow, run-socialapi-workflow, run-hometimeline-workflow

trigger home timeline build
  dotnet-backend/src/Services/HomeTimeline/HomeTimeline.API/appsettings.json
Due: run-hometimeline-workflow

added k8s config for tweet API
  dotnet-backend/src/Services/Kweet/Kweet.API/appsettings.json
  k8s/api.kweet/service.yaml
  k8s/api.kweet/workload.yaml
  k8s/kwetter-service.yaml
  k8s/pods.example.yaml
Due: run-kweet-workflow

seeder WIP
  seed.py
  users.json
Due: none

temporary fix
  dotnet-backend/src/Tests/Unit/Kweet.Application.UnitTests/Kweets/Commands/PostKweetCommandHandlerTests.cs
Due: none

trigger commit
  dotnet-backend/src/Services/Kweet/Kweet.API/appsettings.json
Due: run-kweet-workflow

saved project
  dotnet-backend/docker-compose.yml
  k8s/keycloak/config.yml
  k8s/postgres/deployment.yaml
  k8s/postgres/pvc.yaml
  k8s/postgres/service.yaml
Due: none

created python scripts to seed the project
  dotnet-backend/src/Services/Social/Social.API/Controllers/UserController.cs
Due: run-socialapi-workflow

added python scripts for seeding
  dotnet-backend/docker-compose.override.yml
  dotnet-backend/src/ApiGateway/ApiGateway/ocelot.json
  dotnet-backend/src/Services/HomeTimeline/HomeTimeline.API/Controllers/HomeTimelineController.cs
  dotnet-backend/src/Services/HomeTimeline/HomeTimeline.API/appsettings.json
  dotnet-backend/src/Services/Kweet/Kweet.API/appsettings.json
  dotnet-backend/src/Services/Social/Social.API/Controllers/FollowController.cs
  dotnet-backend/src/Services/Social/Social.API/Program.cs
  dotnet-backend/src/Services/Social/Social.API/Social.API.csproj
  dotnet-backend/src/Services/Social/Social.API/appsettings.json
  frontend/src/keycloak.js
  frontend/src/routes/Home.svelte
  geckodriver.log
  package-lock.json
  package.json
  seed.py
  seed_auth.py
  seed_follow.py
  seed_follow_travis.py
  seed_tweet.py
  users.json
  users_fuller.json
Due: run-kweet-workflow, run-socialapi-workflow, run-hometimeline-workflow

added follower count
  dotnet-backend/src/ApiGateway/ApiGateway/ocelot.json
  frontend/src/routes/Profile.svelte
  frontend/src/routes/ProfileSelf.svelte
Due: none

added tests
  dotnet-backend/dotnet-backend.sln
  dotnet-backend/src/Tests/Integration/HomeTimeline.IntegrationTests/HomeTimeline.IntegrationTests.csproj
  dotnet-backend/src/Tests/Integration/HomeTimeline.IntegrationTests/Tests.cs
  dotnet-backend/src/Tests/Integration/HomeTimeline.IntegrationTests/Usings.cs
Due: none

final commit
  dotnet-backend/src/Tests/Integration/HomeTimeline.IntegrationTests/Tests.cs
Due: none

Path conditions:
  run-kweet-workflow: any of: dotnet-backend/src/Services/Kweet/.*
  run-common-workflow: any of: dotnet-backend/src/BuildingBlocks/.*
  run-usertimeline-workflow: any of: dotnet-backend/src/Services/UserTimeline/.*
  run-keycloak-workflow: any of: dotnet-backend/src/Services/Auth/.*
  run-socialapi-workflow: any of: dotnet-backend/src/Services/Social/.*
  run-hometimeline-workflow: any of: dotnet-backend/src/Services/HomeTimeline/.*
